/*
 * Copyright 2013 Christophe-Marie Duquesne <chmd@chmd.fr>
 *
 * CSS for making a resume with pandoc. Inspired by moderncv.
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */

/* Whole document */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
    line-height: 23px;
}

/*
.title {
    display: none;
}
*/

/* Title of the resume */
h1 {
    font-size: 40px;
    color: black;
    margin-bottom:15px;
}

/* Titles of categories */
h2 {
    color: black;
    margin-bottom: 10px;
}


/* Definitions */
dt {
    width: 17%;
    font-weight: bold;
}
dd {
    margin-left: 17%;
}
p {
    margin-top:0;
    margin-bottom: 10px;
}

/* Blockquotes */
blockquote {
    text-align: center
}

/* Links */
a {
    text-decoration: none;
    color: #397249;
}
a:hover, a:active {
    background-color: #397249;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

/* Horizontal separators */
hr {
    color: #A6A6A6;
}


ul {
    margin-top: 4px;
}

/* Professional Experience section */
.pe-title {
    display:block;
    width: 100%;
}
.pe-company {
    display:inline-block;
    width: 13%;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}
.pe-job {
    display:inline-block;
    width: 39%;
    text-align: left;
    font-weight: bold;
}
.pe-date {
    display:inline-block;
    width: 23%;
    text-align: left;
}
.pe-location {
    display:inline-block;
    width: 23%;
    text-align: right;
}

/* Education section */
.edu-title {
    text-align:center;
    display:block;
    width: 100%;
    font-weight: bold;
}
.edu-job {
    display:inline-block;;
    width: 33%;
    text-align: left;
    text-decoration-line: underline;
}
.edu-location {
    display:inline-block;;
    width: 33%;
    text-align: center;
}
.edu-date {
    display:inline-block;
    width: 32%;
    text-align: right;
}